.subscribe {
    p {
        padding-top: 9%;
        line-height: 25px;
    }
}
.subscribe__form {
    margin-top: 7%;
    .subscribe__sub {
        position: relative;
        input {
            background-color: transparent;
            border: 1px solid white;
            padding: 4% 5%;
            width: 95%;
            outline: none;
            color: $color_white_1;
            &::placeholder {
                color: $color_white_4;
                font-style: italic;
            }
        }
        .subscribe__btn {
            position: absolute;
            top: 6%;
            right: 6%;
            padding: 1.4% 6%;
            font-size: 1.5rem;
            background-color: $color_green;
            border: none;
            color: $color_white_1;
            &:hover {
                background-color: $color_black_5;
            }
        }
    }
}