/*----------------------------
            FONT
 ----------------------------*/

$font_1: 'Poppins', sans-serif;

/*----------------------------
            COLOR
 ----------------------------*/

$color_green: #7dc641;

$color_black_1: #000000;
$color_black_2: #848484;
$color_black_3: #222;
$color_black_4: #0e0e0e;
$color_black_5: #3f3f3f;


$color_white_1: #ffffff;
$color_white_2: #ebebeb;
$color_white_3: #f1f1f1;
$color_white_4: #ccc;

$color__yellow: #ffad00;

/*----------------------------
            PADDING
 ----------------------------*/

$pd_1: 10px;
$pd_2: 20px;
$pd_3: 30px;
$pd_5: 5%;
$pd_10: 10%;

/*----------------------------
            MARGIN
 ----------------------------*/

$mg_1: 10px;
$mg_2: 20px;
$mg_3: 30px;
$mg_5: 5%;
$mg_10: 10%;